form{
    margin-top: 20px;
}
.title-box{
    width: 720px;
    margin: 0 auto;
}
.title{
    height: 50px;
    width: 720px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 40px;
    padding: 30px;
}
.title:focus{
    outline: none;
}
#submit{
    margin-left: 5%;
    height: 70px;
    width: 1370px;
    background: #09a0a7;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    color: #fff;
    line-height: 50px;
}
#type{
    float: right;
    border-radius: 5px;
    min-width: 100px;
    outline: none;
}
