<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="Shortcut Icon" href="static/imgs/icon.png" type="image/x-icon" />

    <link rel="stylesheet" href="static/css/common.css"/>
    <link rel="stylesheet" href="static/css/foot.css"/>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/blogColumn.css"/>
    <link rel="stylesheet" href="static/lib/Page/css/page.css">

    <script src="static/js/jquery.js"></script>
    <script src="static/bootstrap/js/bootstrap.js"></script>
    <script src="static/lib/Page/js/jquery.z-pager.js" type="text/javascript" charset="utf-8"></script>

</head>
<body style="background: #faf7f7;">
    <header class="colours"></header>
    <div class="box-wid box" style="min-height: 600px">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">

                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="box-wid foot-box">
            <div class="qq-box">
                <img src="static/imgs/qq.jpg">
                <span>QQ</span>
            </div>
            <div class="wechat-box">
                <img src="static/imgs/wechat.jpg">
                <span>微信</span>
            </div>
            <div class="foot-mes">
                <h5>本站声明</h5>
                <div>本站由作者一手创建，可以转载需注明出处，不可用作商用，违法必究</div>
            </div>
        </div>
    </footer>
    <script src="static/js/blogColumn.js"></script>
</body>
</html>