<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>

    <link rel="stylesheet" href="static/css/common.css"/>
    <link rel="stylesheet" href="static/css/profile.css"/>
</head>
<body>
    <header class="colours"></header>
    <img id="gif1" src="static/imgs/gif/ez.gif">
    <div class="box">
        <div id="chat">
            <img id="mes-title" src="static/imgs/mes.png">
            <ul id="user-list">
                <li class="user"></li>
            </ul>
            <div id="sent-mes"></div>
            <div id="unSent-mes"></div>
        </div>
    </div>

</body>
</html>