<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="Shortcut Icon" href="static/imgs/icon.png" type="image/x-icon" />

    <link rel="stylesheet" href="static/css/head.css"/>
    <link rel="stylesheet" href="static/css/foot.css"/>
    <link rel="stylesheet" href="static/css/common.css"/>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
</head>
<body>
<div class="head">
    <header>
        <div class="box-wid head-box">
            <div class="icon">
                <img src="static/imgs/icon.png" alt="网络拥挤请刷新">
            </div>
            <div class="head-nav">
                <ul class="fir-nav">
                    <li><a>首页</a></li>
                    <li>
                        <a>学习资料</a>
                        <ul class="sec-nav">
                            <li>Java</li>
                            <li>前端</li>
                            <li>Linux</li>
                            <li>spring</li>
                        </ul>
                    </li>
                    <li><a>商业合作</a></li>
                    <li><a>个人空间</a></li>
                    <li><a>程序人生</a></li>
                    <li id="active"><a>项目展示</a></li>
                </ul>
            </div>
        </div>
    </header>
</div>
<div class="box-wid box">

</div>
<footer>
    <div class="box-wid foot-box">
        <div class="qq-box">
            <img src="static/imgs/qq.jpg">
            <span>QQ</span>
        </div>
        <div class="wechat-box">
            <img src="static/imgs/wechat.jpg">
            <span>微信</span>
        </div>
        <div class="foot-mes">
            <h5>本站声明</h5>
            <div>本站由作者一手创建，可以转载需注明出处，不可用作商用，违法必究</div>
        </div>
    </div>
</footer>
</body>
</html>